/* #listImage{
    height: 160px;
    width: 160px;
    margin-left:30px;
} */

/* .listContainer{
    width:700px;
    padding-left: 15px;
    border-color: #8D9EA6; 
} */

.listContent{
    font-size: 12px;
}

/* .header {
    background-color: darkgray;
    color: white;
} */

.search label {
    color: white;
    font-size: 1.5em;
}

#background-results{
    background-image:url("../../images/cooking_banner.jpg");
}

#bottom-bg{
    /* color: #8D9EA6; */
    background-color: #f2edd9;
}

