
.listContent{
    font-size: 12px;
}

.search label {
    color: white;
    font-size: 1.5em;
}

#background-results{
    background-image:url("../../images/cooking_banner.jpg");
}

#bottom-bg{
    background-color: #f2edd9;
}

.logo:hover{
    cursor: pointer;
}